In [1]:
import numpy as np
import pandas as pd

In [5]:
#%cd('d:/Work/Python/MyCode/Stock')
day = pd.read_hdf("d:\Work\Python\MyCode\Stock\data\k_day_2018-03-31.hd5", 'day')
day.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7640086 entries, 0 to 7640085
Data columns (total 10 columns):
datetime    datetime64[ns]
code        object
open        float64
close       float64
high        float64
low         float64
vol         float64
amount      float64
tor         float64
vr          float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 641.2+ MB

In [6]:
day.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>code</th>
      <th>open</th>
      <th>close</th>
      <th>high</th>
      <th>low</th>
      <th>vol</th>
      <th>amount</th>
      <th>tor</th>
      <th>vr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018-03-30</td>
      <td>300504</td>
      <td>15.67</td>
      <td>18.81</td>
      <td>18.81</td>
      <td>15.67</td>
      <td>353.0</td>
      <td>6.566043e+05</td>
      <td>0.05</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018-03-30</td>
      <td>603214</td>
      <td>23.94</td>
      <td>28.73</td>
      <td>28.73</td>
      <td>23.94</td>
      <td>195.0</td>
      <td>5.598710e+05</td>
      <td>0.08</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018-03-30</td>
      <td>300263</td>
      <td>5.57</td>
      <td>6.11</td>
      <td>6.11</td>
      <td>5.56</td>
      <td>473924.0</td>
      <td>2.845349e+08</td>
      <td>9.20</td>
      <td>4.66</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018-03-29</td>
      <td>300263</td>
      <td>5.44</td>
      <td>5.55</td>
      <td>5.58</td>
      <td>5.44</td>
      <td>117533.0</td>
      <td>6.495371e+07</td>
      <td>2.28</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018-03-28</td>
      <td>300263</td>
      <td>5.36</td>
      <td>5.42</td>
      <td>5.50</td>
      <td>5.31</td>
      <td>97622.0</td>
      <td>5.299063e+07</td>
      <td>1.90</td>
      <td>1.16</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
day.set_index(['datetime', 'code']).head(50)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>open</th>
      <th>close</th>
      <th>high</th>
      <th>low</th>
      <th>vol</th>
      <th>amount</th>
      <th>tor</th>
      <th>vr</th>
    </tr>
    <tr>
      <th>datetime</th>
      <th>code</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="3" valign="top">2018-03-30</th>
      <th>300504</th>
      <td>15.67</td>
      <td>18.81</td>
      <td>18.81</td>
      <td>15.67</td>
      <td>353.0</td>
      <td>6.566043e+05</td>
      <td>0.05</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>603214</th>
      <td>23.94</td>
      <td>28.73</td>
      <td>28.73</td>
      <td>23.94</td>
      <td>195.0</td>
      <td>5.598710e+05</td>
      <td>0.08</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>300263</th>
      <td>5.57</td>
      <td>6.11</td>
      <td>6.11</td>
      <td>5.56</td>
      <td>473924.0</td>
      <td>2.845349e+08</td>
      <td>9.20</td>
      <td>4.66</td>
    </tr>
    <tr>
      <th>2018-03-29</th>
      <th>300263</th>
      <td>5.44</td>
      <td>5.55</td>
      <td>5.58</td>
      <td>5.44</td>
      <td>117533.0</td>
      <td>6.495371e+07</td>
      <td>2.28</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th>2018-03-28</th>
      <th>300263</th>
      <td>5.36</td>
      <td>5.42</td>
      <td>5.50</td>
      <td>5.31</td>
      <td>97622.0</td>
      <td>5.299063e+07</td>
      <td>1.90</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>2018-03-27</th>
      <th>300263</th>
      <td>5.37</td>
      <td>5.40</td>
      <td>5.47</td>
      <td>5.33</td>
      <td>73825.0</td>
      <td>3.987598e+07</td>
      <td>1.43</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th>2018-03-26</th>
      <th>300263</th>
      <td>5.10</td>
      <td>5.30</td>
      <td>5.31</td>
      <td>5.04</td>
      <td>76539.0</td>
      <td>3.983442e+07</td>
      <td>1.49</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th>2018-03-23</th>
      <th>300263</th>
      <td>5.55</td>
      <td>5.18</td>
      <td>5.56</td>
      <td>5.15</td>
      <td>142940.0</td>
      <td>7.658210e+07</td>
      <td>2.77</td>
      <td>2.38</td>
    </tr>
    <tr>
      <th>2018-03-22</th>
      <th>300263</th>
      <td>5.76</td>
      <td>5.72</td>
      <td>5.79</td>
      <td>5.69</td>
      <td>62507.0</td>
      <td>3.586951e+07</td>
      <td>1.21</td>
      <td>1.03</td>
    </tr>
    <tr>
      <th>2018-03-21</th>
      <th>300263</th>
      <td>5.81</td>
      <td>5.76</td>
      <td>5.91</td>
      <td>5.75</td>
      <td>64669.0</td>
      <td>3.781900e+07</td>
      <td>1.26</td>
      <td>1.01</td>
    </tr>
    <tr>
      <th>2018-03-20</th>
      <th>300263</th>
      <td>5.84</td>
      <td>5.81</td>
      <td>5.85</td>
      <td>5.70</td>
      <td>58581.0</td>
      <td>3.385472e+07</td>
      <td>1.14</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th>2018-03-19</th>
      <th>300263</th>
      <td>5.80</td>
      <td>5.86</td>
      <td>5.96</td>
      <td>5.75</td>
      <td>62154.0</td>
      <td>3.643054e+07</td>
      <td>1.21</td>
      <td>0.75</td>
    </tr>
    <tr>
      <th>2018-03-16</th>
      <th>300263</th>
      <td>5.87</td>
      <td>5.83</td>
      <td>5.92</td>
      <td>5.82</td>
      <td>52964.0</td>
      <td>3.108342e+07</td>
      <td>1.03</td>
      <td>0.54</td>
    </tr>
    <tr>
      <th>2018-03-15</th>
      <th>300263</th>
      <td>5.85</td>
      <td>5.88</td>
      <td>5.94</td>
      <td>5.79</td>
      <td>65529.0</td>
      <td>3.840249e+07</td>
      <td>1.27</td>
      <td>0.62</td>
    </tr>
    <tr>
      <th>2018-03-14</th>
      <th>300263</th>
      <td>6.01</td>
      <td>5.90</td>
      <td>6.02</td>
      <td>5.88</td>
      <td>79497.0</td>
      <td>4.727694e+07</td>
      <td>1.54</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th>2018-03-13</th>
      <th>300263</th>
      <td>6.11</td>
      <td>6.03</td>
      <td>6.14</td>
      <td>6.02</td>
      <td>86095.0</td>
      <td>5.217564e+07</td>
      <td>1.67</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th>2018-03-12</th>
      <th>300263</th>
      <td>5.98</td>
      <td>6.12</td>
      <td>6.19</td>
      <td>5.98</td>
      <td>132352.0</td>
      <td>8.079531e+07</td>
      <td>2.57</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th>2018-03-09</th>
      <th>300263</th>
      <td>5.86</td>
      <td>5.98</td>
      <td>6.03</td>
      <td>5.79</td>
      <td>130363.0</td>
      <td>7.744553e+07</td>
      <td>2.53</td>
      <td>1.40</td>
    </tr>
    <tr>
      <th>2018-03-08</th>
      <th>300263</th>
      <td>5.74</td>
      <td>5.89</td>
      <td>5.91</td>
      <td>5.73</td>
      <td>98359.0</td>
      <td>5.726010e+07</td>
      <td>1.91</td>
      <td>0.96</td>
    </tr>
    <tr>
      <th>2018-03-07</th>
      <th>300263</th>
      <td>5.89</td>
      <td>5.78</td>
      <td>5.89</td>
      <td>5.78</td>
      <td>70311.0</td>
      <td>4.093570e+07</td>
      <td>1.36</td>
      <td>0.58</td>
    </tr>
    <tr>
      <th>2018-03-06</th>
      <th>300263</th>
      <td>5.71</td>
      <td>5.89</td>
      <td>5.93</td>
      <td>5.70</td>
      <td>129438.0</td>
      <td>7.562019e+07</td>
      <td>2.51</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th>2018-03-05</th>
      <th>300263</th>
      <td>5.65</td>
      <td>5.73</td>
      <td>5.73</td>
      <td>5.61</td>
      <td>67566.0</td>
      <td>3.836890e+07</td>
      <td>1.31</td>
      <td>0.56</td>
    </tr>
    <tr>
      <th>2018-03-02</th>
      <th>300263</th>
      <td>5.76</td>
      <td>5.67</td>
      <td>5.82</td>
      <td>5.67</td>
      <td>98286.0</td>
      <td>5.634867e+07</td>
      <td>1.91</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>2018-03-01</th>
      <th>300263</th>
      <td>5.78</td>
      <td>5.80</td>
      <td>5.83</td>
      <td>5.73</td>
      <td>144379.0</td>
      <td>8.334910e+07</td>
      <td>2.80</td>
      <td>1.52</td>
    </tr>
    <tr>
      <th>2018-02-28</th>
      <th>300263</th>
      <td>5.68</td>
      <td>5.81</td>
      <td>5.98</td>
      <td>5.64</td>
      <td>170038.0</td>
      <td>9.917162e+07</td>
      <td>3.30</td>
      <td>2.51</td>
    </tr>
    <tr>
      <th>2018-02-27</th>
      <th>300263</th>
      <td>5.69</td>
      <td>5.74</td>
      <td>5.85</td>
      <td>5.64</td>
      <td>90922.0</td>
      <td>5.207755e+07</td>
      <td>1.77</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th>2018-02-26</th>
      <th>300263</th>
      <td>5.63</td>
      <td>5.71</td>
      <td>5.74</td>
      <td>5.54</td>
      <td>104437.0</td>
      <td>5.903305e+07</td>
      <td>2.03</td>
      <td>1.76</td>
    </tr>
    <tr>
      <th>2018-02-23</th>
      <th>300263</th>
      <td>5.60</td>
      <td>5.61</td>
      <td>5.73</td>
      <td>5.57</td>
      <td>63562.0</td>
      <td>3.583156e+07</td>
      <td>1.23</td>
      <td>0.88</td>
    </tr>
    <tr>
      <th>2018-02-22</th>
      <th>300263</th>
      <td>5.55</td>
      <td>5.58</td>
      <td>5.65</td>
      <td>5.51</td>
      <td>46558.0</td>
      <td>2.595565e+07</td>
      <td>0.90</td>
      <td>0.58</td>
    </tr>
    <tr>
      <th>2018-02-14</th>
      <th>300263</th>
      <td>5.52</td>
      <td>5.52</td>
      <td>5.60</td>
      <td>5.50</td>
      <td>33566.0</td>
      <td>1.863466e+07</td>
      <td>0.65</td>
      <td>0.34</td>
    </tr>
    <tr>
      <th>2018-02-13</th>
      <th>300263</th>
      <td>5.61</td>
      <td>5.53</td>
      <td>5.64</td>
      <td>5.52</td>
      <td>62432.0</td>
      <td>3.481180e+07</td>
      <td>1.21</td>
      <td>0.56</td>
    </tr>
    <tr>
      <th>2018-02-12</th>
      <th>300263</th>
      <td>5.50</td>
      <td>5.61</td>
      <td>5.64</td>
      <td>5.50</td>
      <td>90181.0</td>
      <td>5.029160e+07</td>
      <td>1.75</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th>2018-02-09</th>
      <th>300263</th>
      <td>5.23</td>
      <td>5.45</td>
      <td>5.48</td>
      <td>5.20</td>
      <td>127217.0</td>
      <td>6.843094e+07</td>
      <td>2.47</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th>2018-02-08</th>
      <th>300263</th>
      <td>5.29</td>
      <td>5.40</td>
      <td>5.45</td>
      <td>5.23</td>
      <td>90601.0</td>
      <td>4.885082e+07</td>
      <td>1.76</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th>2018-02-07</th>
      <th>300263</th>
      <td>5.29</td>
      <td>5.30</td>
      <td>5.39</td>
      <td>5.03</td>
      <td>128188.0</td>
      <td>6.733691e+07</td>
      <td>2.49</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th>2018-02-06</th>
      <th>300263</th>
      <td>5.63</td>
      <td>5.17</td>
      <td>5.70</td>
      <td>5.17</td>
      <td>121620.0</td>
      <td>6.569721e+07</td>
      <td>2.36</td>
      <td>1.41</td>
    </tr>
    <tr>
      <th>2018-02-05</th>
      <th>300263</th>
      <td>5.79</td>
      <td>5.74</td>
      <td>5.86</td>
      <td>5.70</td>
      <td>48625.0</td>
      <td>2.820890e+07</td>
      <td>0.94</td>
      <td>0.45</td>
    </tr>
    <tr>
      <th>2018-02-02</th>
      <th>300263</th>
      <td>5.86</td>
      <td>5.86</td>
      <td>5.97</td>
      <td>5.74</td>
      <td>100505.0</td>
      <td>5.904818e+07</td>
      <td>1.95</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th>2018-02-01</th>
      <th>300263</th>
      <td>6.37</td>
      <td>5.86</td>
      <td>6.43</td>
      <td>5.85</td>
      <td>133909.0</td>
      <td>8.111479e+07</td>
      <td>2.60</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th>2018-01-31</th>
      <th>300263</th>
      <td>6.53</td>
      <td>6.36</td>
      <td>6.61</td>
      <td>6.34</td>
      <td>78886.0</td>
      <td>5.107578e+07</td>
      <td>1.53</td>
      <td>0.61</td>
    </tr>
    <tr>
      <th>2018-01-30</th>
      <th>300263</th>
      <td>6.65</td>
      <td>6.52</td>
      <td>6.70</td>
      <td>6.47</td>
      <td>70503.0</td>
      <td>4.645668e+07</td>
      <td>1.37</td>
      <td>0.55</td>
    </tr>
    <tr>
      <th>2018-01-29</th>
      <th>300263</th>
      <td>6.81</td>
      <td>6.71</td>
      <td>6.86</td>
      <td>6.45</td>
      <td>151532.0</td>
      <td>1.008154e+08</td>
      <td>2.94</td>
      <td>1.24</td>
    </tr>
    <tr>
      <th>2018-01-26</th>
      <th>300263</th>
      <td>6.87</td>
      <td>6.82</td>
      <td>6.93</td>
      <td>6.81</td>
      <td>68781.0</td>
      <td>4.724828e+07</td>
      <td>1.34</td>
      <td>0.55</td>
    </tr>
    <tr>
      <th>2018-01-25</th>
      <th>300263</th>
      <td>6.82</td>
      <td>6.90</td>
      <td>7.14</td>
      <td>6.80</td>
      <td>259713.0</td>
      <td>1.806512e+08</td>
      <td>5.04</td>
      <td>2.93</td>
    </tr>
    <tr>
      <th>2018-01-24</th>
      <th>300263</th>
      <td>6.74</td>
      <td>6.81</td>
      <td>6.85</td>
      <td>6.66</td>
      <td>95066.0</td>
      <td>6.442366e+07</td>
      <td>1.85</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th>2018-01-23</th>
      <th>300263</th>
      <td>6.69</td>
      <td>6.73</td>
      <td>6.82</td>
      <td>6.69</td>
      <td>61127.0</td>
      <td>4.124012e+07</td>
      <td>1.19</td>
      <td>0.59</td>
    </tr>
    <tr>
      <th>2018-01-22</th>
      <th>300263</th>
      <td>6.72</td>
      <td>6.70</td>
      <td>6.92</td>
      <td>6.55</td>
      <td>124784.0</td>
      <td>8.401376e+07</td>
      <td>2.42</td>
      <td>1.22</td>
    </tr>
    <tr>
      <th>2018-01-19</th>
      <th>300263</th>
      <td>6.88</td>
      <td>6.72</td>
      <td>6.91</td>
      <td>6.72</td>
      <td>89740.0</td>
      <td>6.104897e+07</td>
      <td>1.74</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th>2018-01-18</th>
      <th>300263</th>
      <td>6.87</td>
      <td>6.92</td>
      <td>6.98</td>
      <td>6.80</td>
      <td>72887.0</td>
      <td>5.029723e+07</td>
      <td>1.41</td>
      <td>0.62</td>
    </tr>
    <tr>
      <th>2018-01-17</th>
      <th>300263</th>
      <td>7.09</td>
      <td>6.91</td>
      <td>7.11</td>
      <td>6.70</td>
      <td>168428.0</td>
      <td>1.159100e+08</td>
      <td>3.27</td>
      <td>1.62</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
day.sort_values(by=['code', 'datetime'], inplace=True)

In [10]:
day.head(20)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>datetime</th>
      <th>code</th>
      <th>open</th>
      <th>close</th>
      <th>high</th>
      <th>low</th>
      <th>vol</th>
      <th>amount</th>
      <th>tor</th>
      <th>vr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7269045</th>
      <td>2000-01-04</td>
      <td>000001</td>
      <td>3.57</td>
      <td>3.73</td>
      <td>3.78</td>
      <td>3.50</td>
      <td>82160.0</td>
      <td>147325360.0</td>
      <td>0.77</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7269044</th>
      <td>2000-01-05</td>
      <td>000001</td>
      <td>3.74</td>
      <td>3.68</td>
      <td>3.84</td>
      <td>3.67</td>
      <td>93993.0</td>
      <td>173475152.0</td>
      <td>0.88</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7269043</th>
      <td>2000-01-06</td>
      <td>000001</td>
      <td>3.67</td>
      <td>3.83</td>
      <td>3.88</td>
      <td>3.62</td>
      <td>120222.0</td>
      <td>221192512.0</td>
      <td>1.12</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7269042</th>
      <td>2000-01-07</td>
      <td>000001</td>
      <td>3.87</td>
      <td>3.98</td>
      <td>4.03</td>
      <td>3.85</td>
      <td>229346.0</td>
      <td>443592448.0</td>
      <td>2.14</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7269041</th>
      <td>2000-01-10</td>
      <td>000001</td>
      <td>4.03</td>
      <td>4.10</td>
      <td>4.17</td>
      <td>4.03</td>
      <td>185210.0</td>
      <td>372294496.0</td>
      <td>1.73</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7269040</th>
      <td>2000-01-11</td>
      <td>000001</td>
      <td>4.11</td>
      <td>3.87</td>
      <td>4.12</td>
      <td>3.83</td>
      <td>126663.0</td>
      <td>245867488.0</td>
      <td>1.18</td>
      <td>0.89</td>
    </tr>
    <tr>
      <th>7269039</th>
      <td>2000-01-12</td>
      <td>000001</td>
      <td>3.87</td>
      <td>3.72</td>
      <td>3.91</td>
      <td>3.69</td>
      <td>91752.0</td>
      <td>169418272.0</td>
      <td>0.86</td>
      <td>0.61</td>
    </tr>
    <tr>
      <th>7269038</th>
      <td>2000-01-13</td>
      <td>000001</td>
      <td>3.71</td>
      <td>3.70</td>
      <td>3.75</td>
      <td>3.65</td>
      <td>50058.0</td>
      <td>90723736.0</td>
      <td>0.47</td>
      <td>0.33</td>
    </tr>
    <tr>
      <th>7269037</th>
      <td>2000-01-14</td>
      <td>000001</td>
      <td>3.70</td>
      <td>3.64</td>
      <td>3.75</td>
      <td>3.62</td>
      <td>55972.0</td>
      <td>100267784.0</td>
      <td>0.52</td>
      <td>0.41</td>
    </tr>
    <tr>
      <th>7269036</th>
      <td>2000-01-17</td>
      <td>000001</td>
      <td>3.65</td>
      <td>3.68</td>
      <td>3.69</td>
      <td>3.57</td>
      <td>34501.0</td>
      <td>61534196.0</td>
      <td>0.32</td>
      <td>0.34</td>
    </tr>
    <tr>
      <th>7269035</th>
      <td>2000-01-18</td>
      <td>000001</td>
      <td>3.67</td>
      <td>3.60</td>
      <td>3.68</td>
      <td>3.58</td>
      <td>46563.0</td>
      <td>82818824.0</td>
      <td>0.43</td>
      <td>0.65</td>
    </tr>
    <tr>
      <th>7269034</th>
      <td>2000-01-19</td>
      <td>000001</td>
      <td>3.57</td>
      <td>3.62</td>
      <td>3.64</td>
      <td>3.57</td>
      <td>37811.0</td>
      <td>67007288.0</td>
      <td>0.35</td>
      <td>0.68</td>
    </tr>
    <tr>
      <th>7269033</th>
      <td>2000-01-20</td>
      <td>000001</td>
      <td>3.63</td>
      <td>3.63</td>
      <td>3.65</td>
      <td>3.58</td>
      <td>58437.0</td>
      <td>103508664.0</td>
      <td>0.55</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th>7269032</th>
      <td>2000-01-21</td>
      <td>000001</td>
      <td>3.63</td>
      <td>3.66</td>
      <td>3.72</td>
      <td>3.60</td>
      <td>86262.0</td>
      <td>154067424.0</td>
      <td>0.80</td>
      <td>1.85</td>
    </tr>
    <tr>
      <th>7269031</th>
      <td>2000-01-24</td>
      <td>000001</td>
      <td>3.65</td>
      <td>3.57</td>
      <td>3.66</td>
      <td>3.50</td>
      <td>112516.0</td>
      <td>196243600.0</td>
      <td>1.05</td>
      <td>2.13</td>
    </tr>
    <tr>
      <th>7269030</th>
      <td>2000-01-25</td>
      <td>000001</td>
      <td>3.57</td>
      <td>3.61</td>
      <td>3.73</td>
      <td>3.57</td>
      <td>83718.0</td>
      <td>149259936.0</td>
      <td>0.78</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th>7269029</th>
      <td>2000-01-26</td>
      <td>000001</td>
      <td>3.61</td>
      <td>3.59</td>
      <td>3.64</td>
      <td>3.57</td>
      <td>47723.0</td>
      <td>83862976.0</td>
      <td>0.45</td>
      <td>0.63</td>
    </tr>
    <tr>
      <th>7269028</th>
      <td>2000-01-27</td>
      <td>000001</td>
      <td>3.60</td>
      <td>3.65</td>
      <td>3.70</td>
      <td>3.58</td>
      <td>73569.0</td>
      <td>131076056.0</td>
      <td>0.69</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>7269027</th>
      <td>2000-01-28</td>
      <td>000001</td>
      <td>3.67</td>
      <td>3.78</td>
      <td>3.79</td>
      <td>3.60</td>
      <td>167366.0</td>
      <td>305519424.0</td>
      <td>1.56</td>
      <td>2.07</td>
    </tr>
    <tr>
      <th>7269026</th>
      <td>2000-02-14</td>
      <td>000001</td>
      <td>3.91</td>
      <td>4.15</td>
      <td>4.15</td>
      <td>3.81</td>
      <td>233709.0</td>
      <td>460705056.0</td>
      <td>2.18</td>
      <td>2.41</td>
    </tr>
  </tbody>
</table>
</div>